/* The hero section */
#hero{
    width: 88%;
    max-width: 1300px;
    padding: 140px 7% 80px 5%;
    margin: 0 auto;
}
#hero h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 24px;
}
#hero_sections{
    display: flex;
}
.hero_section{
    width: 95%;
    padding-right: 5%;
}
#hero_sub_header{
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 24px;
    color: var(--light_text);
}
#hero .action_button{
    margin-bottom: 40px;
}
#hero_checkout{
    width: 96%;
    padding: 30px 2% 10px 2%;
    background-color: #000;
    border-radius: 40px;
    display: flex;
}
#hero_checkout_left{
    width: 100%;
}
#hero_checkout_left header{
    font-size: 20px;
    font-weight: 600;
    color: #eee;
    margin-bottom: 15px;
}
#hero_checkout_left p{
    font-size: 16px;
    color: #ccc;
    margin-bottom: 15px;
}
#hero_checkout_left a{
    display: block;
    font-size: 14px;
    color: #ccc;
}
#hero_chechout_right{
    width: fit-content;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
#hero_chechout_right img{
    width: 110px;
    height: 120px;
}


#hero_images{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
#hero_images .first_child{
    margin-top: 8%;
}
.hero_images_item{
    width: 170px;
    height: 340px;
    border: 3px #000 solid;
    border-radius: 200px;
    overflow: hidden;
    /* margin-left: 100px; */
}

@media (max-width: 1000px) {
    #hero_sections{
        flex-direction: column;
    }
    #hero_images .first_child{
        margin-top: 4%;
    }
}

@media (max-width: 720px) {
    #hero h1{
        font-size: 30px;
    }
    #hero_sub_header{
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    #hero{
        padding-top: 100px;
    }
    #hero h1{
        font-size: 30px;
    }
    #hero_checkout{
        border-radius: 15px;
        width: 92%;
        padding: 20px 4%;
    }
    #hero_chechout_right img{
        width: 70px;
        height: 80px;
    }
    #hero_images{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .hero_images_item{
        width: 100px;
        height: 200px;
        margin-left: 0;
        margin-bottom: 10px;
    }
}



#about{
    width: 92%;
    padding: 80px 4%;
    background: #000;
    color: #eee;
}
#about .header{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
}

#about_leaders{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about_board1{
    width: calc(48% - 100px);
    padding: 40px;
    padding-bottom: none;
    background-color: var(--ma-bg);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--jakarta);
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 0;
}
.about_board1_text{
    width: 100%;
}
.about_board1 svg{
    width: 44px !important;
    height: 44px !important;
    margin-bottom: 15px;
}
.about_board1 p{
    font-size: 16px;
    font-weight: 500;
    color: #555;
    line-height: 160%;
    margin-bottom: 15px;
}
.about_board1 header{
    font-size: 16px;
    font-weight: 600;
    color: #222;
}
.about_board1_image{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    flex-shrink: 0;
    margin-top: -30px;
}
.about_board1_image img{
    position: relative;
    width: 186px;
    height: 241px;
    transform: translate(50px, 0px);
}
@media (max-width: 800px) {
    .about_board1{
        flex-wrap: wrap;
        padding: 20px;
        width: calc(100% - 40px);
        padding-bottom: 0;
    }
    .about_board1 p{
        font-size: 14px;
    }
    .about_board1_image img{
        transform: translate(30px, 50);
    }
}



#about_pitch{
    margin-top: 160px;
}
#about_pitch .header{
    margin-bottom: 20px;
}
#about_pitch p{
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 160%;
    color: #fff;
}
#about_pitch .action_button{
    margin-bottom: 20px;
}
#about_pitch .action_button p{
    margin-bottom: 0;
    color: #000;
}

#about_packages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}
#about_packages .board{
    width: calc(49% - 40px);
    padding: 20px;
    background-color: var(--ma-bg);
    margin-bottom: 20px;
    border-radius: 15px;
}
#about_packages .board_img svg{
    width: 50px !important;
    height: 50px !important;
    margin-bottom: 20px;
}
#about_packages .board_header{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--black);
}
#about_packages .board_text{
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--light_text);
}
#about_packages .long{
    width: calc(100% - 40px);
}

@media (max-width: 720px) {
    #about_pitch .header{
        font-size: 30px;
    }
    #about_pitch p{
        font-size: 14px;
    }
    #about_packages .board{
        width: calc(100% - 40px);
    }
}
@media (max-width: 550px) {
    #about_pitch p{
        width: 90%;
    }
}




#services{
    width: calc(100% - 80px);
    padding: 80px 40px;
}
#services h2{
    font-size: 57px;
    margin-bottom: 60px;
}
#services .main_header{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}


#pricing{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price_card{
    width: calc(32% - 60px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0.796192px 2.38858px -0.625px, rgba(0, 0, 0, 0.05) 0px 2.41451px 7.24352px -1.25px, rgba(0, 0, 0, 0.05) 0px 6.38265px 19.148px -1.875px, rgba(0, 0, 0, 0.05) 0px 20px 60px -2.5px;
    margin-bottom: 20px;
}
.price_card p{
    font-size: 14px;
    font-weight: 600;
    color: #666666;
}
.price_card header{
    font-size: 54px;
    font-weight: 700;
    padding: 25px 0;
    color: #222;
}
.price_card header span{
    font-size: 15px;
    font-weight: 600;
    color: #666;
    margin-left: -10px;
    margin-top: -13px;
}

.price_card ul{
    margin-bottom: 40px;
    min-height: 200px;
}
.price_card li{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.price_card li svg{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
.price_card li p{
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
}
.price_card .action_button{
    min-width: 50%;
    justify-content: center;
}
.price_card .action_button p{
    color: #eee;
}
.uie{
    min-width: 200px !important;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    .price_card{    
        width: calc(100% - 60px);
    }
}



#add_ons{
    width: 90%;
    padding: 20px 5%;
}
#add_ons h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
#add_ons_subheader{
    text-align: center;
    font-size: 16px;
    color: var(--light_text);
}
#add_ons_board{
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.add_ons_item{
    width: 30%;
    margin-bottom: 50px;
}
.add_ons_img{
    width: 250px;
    height: 250px;
    border: 5px #000 solid;
    border-radius: 20px;
    overflow: hidden;
}
.add_ons_item header{
    font-size: 23px;
    font-weight: 700;
    padding: 15px 0 5px 0;
    line-height: 150%;
    color: #222;
}
.add_ons_item p{
    font-size: 16px;
    font-weight: 500;
    color: var(--light_text);
    line-height: 160%;
}
@media (max-width: 1000px) {
    #add_ons_board{
        padding: 0;
    }
    .add_ons_item{
        width: 30%;
    }
    .add_ons_img{
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 720px) {
    .add_ons_item{
        width: 100%;
        margin-bottom: 70px;
    }
}





#faq{
    width: 90%;
    background: #f9f9f9;
    padding: 80px 5%;
}
#faq h2{
    color: #2a2a2a;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}
#questions{
    width: 100%;
    margin-top: 40px;
}
.question{
    width: calc(100% - 40px);
    padding: 20px;
    border-radius: 15px;
    background: #ffffff;
    border: 1px #eee solid;
    margin-bottom: 20px;
    transition: .5s;
    min-height: fit-content;
}
.question_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.question_main p{
    font-size: 14px;
    font-weight: 700;
    color: #333;
}
.question_main svg{
    width: 30px !important;
    transform: rotate(180deg);
    transition: .7s;
}

.question_ans{
    position: relative;
    font-size: 14px;
    color: var(--light_text);
    margin-top: 20px;
    font-weight: 400;
    line-height: 160%;
    display: none;
    transform: translate(0, -50px);
    transition: .5s;
    overflow: hidden;
    opacity: 0;
}