*{
    padding: 0;
    margin: 0;
    scroll-margin-top: 75px;
}
:root{
    --nav-bg: #ffffff;
    --ma-bg: #f9f9f9;
    --black: #000;
    --light_text: #555;
    --mons : "Montserrat", "Montserrat Placeholder", sans-serif;
    --jakarta: "Plus Jakarta Sans", "Montserrat", "Montserrat Placeholder", sans-serif;
}

body{
    width: 100vw;
    background: var(--ma-bg);
    font-family: var(--mons);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: inherit;
}

/* Buttons with animations */
.action_button{
    position: relative;
    width: fit-content;
    padding: 12px 20px;
    background: #000;
    color: #eee;
    font-size: 14px;
    border-radius: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;
}
.action_button svg{
    width: 20px !important;
    height: 20px !important;
    margin-left: 35px;
    transition: 0.3s;
}

.action_button:hover svg{
    transform: rotate(90deg);
}
.action_button_flair{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    border: 20px #fff solid;
    border-radius: 45px;
    transition: .2s linear;
    opacity: 0;
}
.action_button:hover{
    transform: scale(1.1) !important;
}
.action_button:hover .action_button_flair{
    opacity: 1;
    width: 120%;
    height: 120%;
}
.action_button_invert{
    background: #eee;
    color: #333;
}
.action_button_invert svg{
    stroke: #000;
}
.action_button_invert .action_button_flair{
    border-color: #111;
}
.action_button_invert:hover{
    background-color: #d5d5d5;
}


/* Makes an item move up when the mouse hovers over it */
.up_a{
    transition: 0.2s;
}
.up_a:hover{
    transform: translateY(-10px) !important;
}


.onscroll_l{
    transform: translate(-50px, 0);
    transition: .7s;
    opacity: 0;
}
.onscroll_r{
    transform: translate(50px, 0);
    transition: .7s;
    opacity: 0;
}
.onscroll_t{
    transform: translate(0px, -60px);
    transition: .7s;
    opacity: 0;
}
.onscroll_d{
    transform: translate(0px, 60px);
    transition: .7s;
    opacity: 0;
}


/* The navigation bar at the top of the page */
nav{
    width: 90%;
    height: fit-content;
    background-color: var(--nav-bg);
    box-shadow: 0px 4px 10px 0px #0000000d;
    position: fixed;
    top: 0px;
    z-index: 100;
    padding: 5px 5%;
}
#nav_main{  
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    z-index: 100;
    background-color: var(--nav-bg);
}

#nav_right{
    display: flex;
    align-items: center;
}
#nav_right p{
    font-size: 24px;
    font-weight: 600;
    color: #302e2e;
}
#nav_logo img{
    height: 51px;
    width: auto;
    border-radius: 50%;
    margin-right: 20px;
}
#nav_left{
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav_left_button{
    position: relative;
    height: 9px;
    width: 20px;
    border: 2px #555 solid;
    border-right: none;
    border-left: none;
    font-size: 18px;
}
#nav_left_button p{
    margin-top: -30%;
    font-size: 20px;
    font-weight: 600;
    color: var(--light_text);
    display: none;
}

#nav_dropdown{
    position: absolute;
    top: -300%;
    background: var(--nav-bg);
    width: 90%;
    margin-left: -5%;
    display: none;
    transition: .4s;
    opacity: 0;
    z-index: 99;
    padding: 15px 30px;
    flex-direction: column;
}
#nav_dropdown a{
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}
#nav_dropdown .action_button{
    color: #fff;
    margin-top: 15px;
}
@media (max-width: 600px) {
    #nav_right p{
        font-size: 20px;
    }
    #nav_left{
        width: fit-content;
    }
}
@media (max-width: 300px) {
    #nav_right p{
        display: none;
    }
}


/* The hero section */
#hero{
    width: 88%;
    padding: 140px 7% 80px 5%;
}
#hero h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 24px;
}
#hero_sub_header{
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 24px;
    color: var(--light_text);
}
#hero .action_button{
    margin-bottom: 40px;
}
#hero_checkout{
    width: 96%;
    padding: 24px 2% 10px 2%;
    background-color: #000;
    border-radius: 40px;
    display: flex;
}
#hero_checkout_left{
    width: 100%;
}
#hero_checkout_left header{
    font-size: 20px;
    font-weight: 600;
    color: #eee;
    margin-bottom: 15px;
}
#hero_checkout_left p{
    font-size: 16px;
    color: #ccc;
    margin-bottom: 15px;
}
#hero_checkout_left a{
    display: block;
    font-size: 14px;
    color: #ccc;
}
#hero_chechout_right{
    width: fit-content;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
#hero_chechout_right img{
    width: 110px;
    height: 120px;
}


#hero_images{
    display: flex;
    padding-top: 50px;
}
#hero_images .first_child{
    margin-top: 4%;
}
.hero_images_item{
    width: 200px;
    height: 400px;
    border: 3px #000 solid;
    border-radius: 200px;
    overflow: hidden;
    margin-left: 100px;
}

@media (max-width: 720px) {
    #hero h1{
        font-size: 30px;
    }
    #hero_sub_header{
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    #hero{
        padding-top: 100px;
    }
    #hero h1{
        font-size: 30px;
    }
    #hero_checkout{
        border-radius: 15px;
        width: 92%;
        padding: 20px 4%;
    }
    #hero_chechout_right img{
        width: 70px;
        height: 80px;
    }
    #hero_images{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .hero_images_item{
        width: 100px;
        height: 200px;
        margin-left: 0;
        margin-bottom: 10px;
    }
}



#about{
    width: 92%;
    padding: 80px 4%;
    background: #000;
    color: #eee;
}
#about .header{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
}

.about_board1{
    width: calc(100% - 100px);
    padding: 40px;
    background-color: var(--ma-bg);
    border-radius: 20px;
    display: flex;
    font-family: var(--jakarta);
    overflow: hidden;
    margin-bottom: 30px;
}
.about_board1_text{
    width: 100%;
}
.about_board1 svg{
    width: 44px !important;
    height: 44px !important;
    margin-bottom: 15px;
}
.about_board1 p{
    font-size: 16px;
    font-weight: 500;
    color: #555;
    line-height: 160%;
    margin-bottom: 15px;
}
.about_board1 header{
    font-size: 16px;
    font-weight: 600;
    color: #222;
}
.about_board1_image{
    display: flex;
    align-items: end;
    width: fit-content;
    flex-shrink: 0;
}
.about_board1_image img{
    position: relative;
    width: 186px;
    height: 241px;
    transform: translate(50px, 40px);
}
@media (max-width: 720px) {
    .about_board1{
        flex-wrap: wrap;
        padding: 20px;
        width: calc(100% - 40px);
        padding-bottom: 0;
    }
    .about_board1 p{
        font-size: 14px;
    }
    .about_board1_image{
        width: 100%;
        justify-content: flex-end;
        margin-top: -50px;
    }
    .about_board1_image img{
        transform: translate(30px, 50);
    }
}



#about_pitch{
    margin-top: 160px;
}
#about_pitch .header{
    margin-bottom: 20px;
}
#about_pitch p{
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 160%;
    color: #fff;
}
#about_pitch .action_button{
    margin-bottom: 20px;
}
#about_pitch .action_button p{
    margin-bottom: 0;
    color: #000;
}

#about_packages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}
#about_packages .board{
    width: calc(49% - 40px);
    padding: 20px;
    background-color: var(--ma-bg);
    margin-bottom: 20px;
    border-radius: 15px;
}
#about_packages .board_img svg{
    width: 50px !important;
    height: 50px !important;
    margin-bottom: 20px;
}
#about_packages .board_header{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--black);
}
#about_packages .board_text{
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--light_text);
}
#about_packages .long{
    width: calc(100% - 40px);
}

@media (max-width: 720px) {
    #about_pitch .header{
        font-size: 30px;
    }
    #about_pitch p{
        font-size: 14px;
    }
    #about_packages .board{
        width: calc(100% - 40px);
    }
}
@media (max-width: 550px) {
    #about_pitch p{
        width: 90%;
    }
}




#services{
    width: calc(100% - 80px);
    padding: 80px 40px;
}
#services h2{
    font-size: 57px;
    margin-bottom: 60px;
}
#services .main_header{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}


#pricing{
    margin-top: 40px;
}
.price_card{
    width: calc(100% - 60px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0.796192px 2.38858px -0.625px, rgba(0, 0, 0, 0.05) 0px 2.41451px 7.24352px -1.25px, rgba(0, 0, 0, 0.05) 0px 6.38265px 19.148px -1.875px, rgba(0, 0, 0, 0.05) 0px 20px 60px -2.5px;
    margin-bottom: 20px;
}
.price_card p{
    font-size: 14px;
    font-weight: 600;
    color: #666666;
}
.price_card header{
    font-size: 54px;
    font-weight: 700;
    padding: 25px 0;
    color: #222;
}
.price_card header span{
    font-size: 15px;
    font-weight: 600;
    color: #666;
    margin-left: -10px;
    margin-top: -13px;
}

.price_card ul{
    margin-bottom: 40px;
}
.price_card li{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.price_card li svg{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
.price_card li p{
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
}
.price_card .action_button{
    min-width: 50%;
    justify-content: center;
}
.price_card .action_button p{
    color: #eee;
}
#pricing .uie{
    width: 180px !important;
    margin-bottom: 20px;
}



#add_ons{
    width: 90%;
    padding: 20px 5%;
}
#add_ons h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
#add_ons_subheader{
    text-align: center;
    font-size: 16px;
    color: var(--light_text);
}
#add_ons_board{
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.add_ons_item{
    width: 30%;
    margin-bottom: 50px;
}
.add_ons_img{
    width: 250px;
    height: 250px;
    border: 5px #000 solid;
    border-radius: 20px;
    overflow: hidden;
}
.add_ons_item header{
    font-size: 23px;
    font-weight: 700;
    padding: 15px 0 5px 0;
    line-height: 150%;
    color: #222;
}
.add_ons_item p{
    font-size: 16px;
    font-weight: 500;
    color: var(--light_text);
    line-height: 160%;
}
@media (max-width: 1000px) {
    #add_ons_board{
        padding: 0;
    }
    .add_ons_item{
        width: 30%;
    }
    .add_ons_img{
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 720px) {
    .add_ons_item{
        width: 100%;
        margin-bottom: 70px;
    }
}





#faq{
    width: 90%;
    background: #f9f9f9;
    padding: 80px 5%;
}
#faq h2{
    color: #2a2a2a;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}
#questions{
    width: 100%;
    margin-top: 40px;
}
.question{
    width: calc(100% - 40px);
    padding: 20px;
    border-radius: 15px;
    background: #ffffff;
    border: 1px #eee solid;
    margin-bottom: 20px;
    transition: .5s;
    min-height: fit-content;
}
.question_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.question_main p{
    font-size: 14px;
    font-weight: 700;
    color: #333;
}
.question_main svg{
    width: 30px !important;
    transform: rotate(180deg);
    transition: .7s;
}

.question_ans{
    position: relative;
    font-size: 14px;
    color: var(--light_text);
    margin-top: 20px;
    font-weight: 400;
    line-height: 160%;
    display: none;
    transform: translate(0, -50px);
    transition: .5s;
    overflow: hidden;
    opacity: 0;
}






#workingonit{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
}

#workingonit p{
    width: 60%;
    font-size: 40%;
    margin-top: 40px;
    max-width: 600px;
    text-align: center;
}


footer{
    width: 90%;
    padding: 120px 5%;
    background: #222831;
    color: #fff;
}
footer h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}
#footer_email{
    display: block;
    padding: 20px 25px;
    background-color: black;
    width: fit-content;
    margin: 0 auto;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: .6s;
}
#footer_email:hover{
    transform: scale(1.1);
    background-color: #222831;
}

#footer_b{
    width: 100%;
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}
.footer_b_item{
    width: 50%;
}
#footer_b_item1 a{
    display: block;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}
#footer_b_item1 a:hover{
    /* /* border-bottom: 1px #fff solid; */
    text-decoration: underline;
}


.f_i_item{
    width: 100%;
    display: flex;
    padding: 20px 0 40px 0;
    border-bottom: 1px #444 solid;
}
.f_i_img{
    flex-shrink: 0;
    margin-right: 20px;
}
.f_i_img svg{
    width: 35px !important;
    height: 35px !important;
}
.f_i_text header{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.f_i_text p{
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 720px) {
    .footer_b_item{
        width: 100%;
        margin-top: 30px;
    }
    footer h2{
        font-size: 25px;
        font-weight: 700;
    }
}
